{% extends "app/base_app.html" %}
{% block content %}
{% load static %}
<div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">
                    Ajouter Joueur
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label">Nom et Prenom</label>
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="row g-2">
                        <div class="col mb-0">
                            <label for="emailBasic" class="form-label">Position</label>
                            {{ form.position }}
                        </div>
                        <div class="col mb-0">
                            <label for="dobBasic" class="form-label">Numero</label>
                            {{ form.number }}
                        </div>
                    </div>
                    <div class="row g-2">
                        <div class="col mb-0">
                            <label for="emailBasic" class="form-label">Hauteur</label>
                            {{ form.height }}
                        </div>
                        <div class="col mb-0">
                            <label for="dobBasic" class="form-label">Poids</label>
                            {{ form.weight }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label">Age</label>
                            {{ form.age }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Annuler
                    </button>
                    <button type="submit" class="btn btn-primary">
                        Enregistrer
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 mb-4 order-0">
        <div class="card">
            <h5 class="card-header d-flex justify-content-end">
                <div>Representation Dynamique</div>
                <div class="ms-auto">
                    <button class="btn btn-info" data-bs-toggle="modal"
                    data-bs-target="#basicModal">
                        Ajouter Joueur
                    </button>                        
                </div>
            </h5>
            <div class="table-responsive text-nowrap">
              <table class="table">
                <thead>
                    <tr>
                        <th>Joueur</th>
                        <th>Position</th>
                        <th>Numero</th>
                        <th>Age</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">    
                    {% for player in players %}              
                        <tr class="table-secondary">
                            <td><i class="fab fa-vuejs fa-lg text-success me-3"></i> <strong>
                                {{ player.name }}
                            </strong></td>
                            <td>
                                {{ player.position }}
                            </td>
                            <td>
                                {{ player.number }}
                            </td>
                            <td>
                                {{ player.age }}
                            </td>
                            <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                                </div>
                            </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
    </div>
</div>
{% endblock content %}